/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

:root {
    --color-primary-bg:#0F162D;
    --color-primary-violet: #ca59ff;
    --color-box-violet: #373155;
    --color-primary-blue: #6c7cff;
    --color-box-blue: #2C3455;
    --color-primary-aqua: #2affff;
    --color-box-aqua: #274255;
    --color-primary-yellow: #fff629;
    --color-box-yellow: #3D413F;


    --color-secondary-text: #fff;
    --color-secondary-bg: #272D42;
    --color-seondary-dark: #000;
    --color-primary: #5721f2;
    --color-on-surface: #000;
    --font-medium : 500;
    --font-regular: 400;
    --font-family: 'DM Sans', sans-serif;
}
$section-colors: (
    learning: var(--color-box-violet),
    vision: var(--color-box-blue),
    language: var(--color-box-aqua),
    robotics: var(--color-box-yellow)
);

$tablet-breakpoint: "screen and (max-width: 820px)";
$mobile-breakpoint: "screen and (max-width: 468px)";